<a href="https://colab.research.google.com/github/gitflai/MinicursoFLAIDataScienceNaCopa/blob/main/Minicurso_FLAI_Data_Science_na_Copa_do_Mundo_Qatar_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Minicurso FLAI Data Science na Copa do Mundo Qatar 2022

In [1]:
#instalaçao das bibliotecas (opicional)
#import pip
#pip.main(["install","pandas","numpy","openpyxl","streamlit","scipy"])

In [2]:
#importando as bibliotecas
import pandas as pd
import numpy as np
import random
from scipy.stats import poisson

#inserindo os dados
selecoes = pd.read_excel('dados/DadosCopaDoMundoQatar2022.xlsx', sheet_name ='selecoes', index_col = 0)
jogos = pd.read_excel('dados/DadosCopaDoMundoQatar2022.xlsx', sheet_name ='jogos')

In [3]:
#analise exploratoria dos dados
selecoes.head()

,Grupo,GrupoNumero,NomeEmIngles,PosiçãoRankingFIFA,ValorDeMercado,PontosRankingFIFA,Confederação,Copas,JogadorDestaque,FotoJogadorDestaque,LinkBandeiraPequena,LinkBandeiraGrande
Seleção,,,,,,,,,,,,
Catar,A,A1,Qatar,48,18.33,1442,AFC,0,Almoez Ali,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Equador,A,A2,Ecuador,44,125.80,1464,UEFA,0,Pervis Estupiñán,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Senegal,A,A3,Senegal,18,286.50,1585,CAF,0,Sadio Mané,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Holanda,A,A4,Netherlands,8,455.75,1679,UEFA,0,Virgil Van Dijk,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Inglaterra,B,B1,England,5,1360.00,1737,UEFA,1,Harry Kane,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...

In [4]:
#analise exploratoria dos dados
jogos.head()

        data      hora grupo seleção1 seleção2         estádio
0 2022-11-21  07:00:00     A  Senegal  Holanda      AL THUMAMA
1 2022-11-21  13:00:00     A    Catar  Equador         AL KHOR
2 2022-11-25  10:00:00     A    Catar  Senegal      AL THUMAMA
3 2022-11-25  13:00:00     A  Holanda  Equador  INTER. KHALIFA
4 2022-11-29  12:00:00     A  Holanda    Catar         AL KHOR

In [5]:
#criando a tabela de jogos
fifa = selecoes['PontosRankingFIFA']
fifa

Seleção
Catar             1442
Equador           1464
Senegal           1585
Holanda           1679
Inglaterra        1737
Irã               1559
Estados Unidos    1635
País de Gales     1582
Argentina         1771
Arábia Saudita    1436
México            1650
Polônia           1546
França            1765
Dinamarca         1665
Tunísia           1508
Austrália         1484
Espanha           1717
Alemanha          1659
Japão             1555
Costa Rica        1500
Bélgica           1822
Canadá            1474
Marrocos          1558
Croácia           1632
Brasil            1838
Sérvia            1550
Suíça             1621
Camarões          1485
Portugal          1679
Gana              1393
Uruguai           1641
Coreia do Sul     1526
Name: PontosRankingFIFA, dtype: int64

In [6]:
a, b = min(fifa), max(fifa) 
fa, fb = 0.15, 1 
b1 = (fb - fa)/(b-a) 
b0 = fb - b*b1
forca = b0 + b1*fifa 

forca.sort_values(ascending = False)

Seleção
Brasil            1.000000
Bélgica           0.969438
Argentina         0.872022
França            0.860562
Inglaterra        0.807079
Espanha           0.768876
Holanda           0.696292
Portugal          0.696292
Dinamarca         0.669551
Alemanha          0.658090
México            0.640899
Uruguai           0.623708
Estados Unidos    0.612247
Croácia           0.606517
Suíça             0.585506
Senegal           0.516742
País de Gales     0.511011
Irã               0.467079
Marrocos          0.465169
Japão             0.459438
Sérvia            0.449888
Polônia           0.442247
Coreia do Sul     0.404045
Tunísia           0.369663
Costa Rica        0.354382
Camarões          0.325730
Austrália         0.323820
Canadá            0.304719
Equador           0.285618
Catar             0.243596
Arábia Saudita    0.232135
Gana              0.150000
Name: PontosRankingFIFA, dtype: float64

In [7]:
#criando funcao para o resultado
def Resultado(gols1, gols2):
    if gols1 > gols2:
        res = 'V'
    if gols1 < gols2:
        res = 'D' 
    if gols1 == gols2:
        res = 'E'       
    return res

def MediasPoisson(selecao1, selecao2):
    forca1 = forca[selecao1]
    forca2 = forca[selecao2] 
    mgols = 2.75
    l1 = mgols*forca1/(forca1 + forca2)
    l2 = mgols*forca2/(forca1 + forca2)
    return [l1, l2]
    
def Distribuicao(media):
    probs = []
    for i in range(7):
        probs.append(poisson.pmf(i,media))
    probs.append(1-sum(probs))
    return pd.Series(probs, index = ['0', '1', '2', '3', '4', '5', '6', '7+'])

def ProbabilidadesPartida(selecao1, selecao2):
    l1, l2 = MediasPoisson(selecao1, selecao2)
    d1, d2 = Distribuicao(l1), Distribuicao(l2)  
    matriz = np.outer(d1, d2)    #   Monta a matriz de probabilidades

    vitoria = np.tril(matriz).sum()-np.trace(matriz)    #Soma a triangulo inferior
    derrota = np.triu(matriz).sum()-np.trace(matriz)    #Soma a triangulo superior
    probs = np.around([vitoria, 1-(vitoria+derrota), derrota], 3)
    probsp = [f'{100*i:.1f}%' for i in probs]

    nomes = ['0', '1', '2', '3', '4', '5', '6', '7+']
    matriz = pd.DataFrame(matriz, columns = nomes, index = nomes)
    matriz.index = pd.MultiIndex.from_product([[selecao1], matriz.index])
    matriz.columns = pd.MultiIndex.from_product([[selecao2], matriz.columns]) 
    output = {'seleção1': selecao1, 'seleção2': selecao2, 
             'f1': forca[selecao1], 'f2': forca[selecao2], 
             'media1': l1, 'media2': l2, 
             'probabilidades': probsp, 'matriz': matriz}
    return output

def Pontos(gols1, gols2):
    rst = Resultado(gols1, gols2)
    if rst == 'V':
        pontos1, pontos2 = 3, 0
    if rst == 'E':
        pontos1, pontos2 = 1, 1
    if rst == 'D':
        pontos1, pontos2 = 0, 3
    return pontos1, pontos2, rst


def Jogo(selecao1, selecao2):
    l1, l2 = MediasPoisson(selecao1, selecao2)
    gols1 = int(np.random.poisson(lam = l1, size = 1))
    gols2 = int(np.random.poisson(lam = l2, size = 1))
    saldo1 = gols1 - gols2
    saldo2 = -saldo1
    pontos1, pontos2, result = Pontos(gols1, gols2)
    placar = '{}x{}'.format(gols1, gols2)
    return [gols1, gols2, saldo1, saldo2, pontos1, pontos2, result, placar]

In [8]:
#criando funcao para o resultado
def JogoMataMata(selecao1, selecao2): 
    jogo = Jogo(selecao1, selecao2)
    resultado = jogo[6]
    if resultado == 'V':
        return selecao1
    elif resultado == 'D':
        return selecao2
    else:
        return random.sample([selecao1, selecao2], 1)[0]

In [9]:
#simulando os jogos testando a funcao
Jogo('Brasil', 'França')

[1, 1, 0, 0, 1, 1, 'E', '1x1']

In [10]:
#simulando os jogos testando a funcao
JogoMataMata('Brasil', 'França')

'França'

In [11]:
#simulando probabilidades
ProbabilidadesPartida('Brasil', 'Gana')

{'seleção1': 'Brasil',
 'seleção2': 'Gana',
 'f1': 1.0,
 'f2': 0.1499999999999999,
 'media1': 2.3913043478260874,
 'media2': 0.35869565217391286,
 'probabilidades': ['82.8%', '13.2%', '4.0%'],
 'matriz':                Gana                                                        \
                   0         1         2         3         4             5
 Brasil 0   0.063928  0.022931  0.004113  0.000492  0.000044  3.163294e-06
        1   0.152871  0.054834  0.009834  0.001176  0.000105  7.564398e-06
        2   0.182781  0.065563  0.011759  0.001406  0.000126  9.044388e-06
        3   0.145695  0.052260  0.009373  0.001121  0.000100  7.209295e-06
        4   0.087100  0.031242  0.005603  0.000670  0.000060  4.309905e-06
        5   0.041657  0.014942  0.002680  0.000320  0.000029  2.061259e-06
        6   0.016602  0.005955  0.001068  0.000128  0.000011  8.215162e-07
        7+  0.007954  0.002853  0.000512  0.000061  0.000005  3.935894e-07


                       6            7+
 Brasil 0   1.891099e-07  1.014286e-08
        1   4.522194e-07  2.425467e-08
        2   5.406971e-07  2.900015e-08
        3   4.309905e-07  2.311606e-08
        4   2.576573e-07  1.381939e-08
        5   1.232274e-07  6.609272e-09
        6   4.911238e-08  2.634130e-09
        7+  2.352980e-08  1.262015e-09  }

---
## Tarefa 1: **Prever os Jogos da Copa!**

In [12]:

jogos['Vitória'] = None
jogos['Empate'] = None
jogos['Derrota'] = None

for i in range(jogos.shape[0]):
    selecao1 = jogos['seleção1'][i]
    selecao2 = jogos['seleção2'][i]
    v, e, d = ProbabilidadesPartida(selecao1, selecao2)['probabilidades']
    jogos.at[i,'Vitória'] = v
    jogos.at[i,'Empate'] = e
    jogos.at[i,'Derrota'] = d

jogos.to_excel('dados/outputEstimativasJogosCopa.xlsx', index = False)
jogos

,data,hora,grupo,seleção1,seleção2,estádio,Vitória,Empate,Derrota
0,2022-11-21,07:00:00,A,Senegal,Holanda,AL THUMAMA,28.3%,24.9%,46.8%
1,2022-11-21,13:00:00,A,Catar,Equador,AL KHOR,32.3%,25.4%,42.3%
2,2022-11-25,10:00:00,A,Catar,Senegal,AL THUMAMA,17.2%,22.1%,60.6%
3,2022-11-25,13:00:00,A,Holanda,Equador,INTER. KHALIFA,64.4%,21.0%,14.6%
4,2022-11-29,12:00:00,A,Holanda,Catar,AL KHOR,68.4%,19.6%,12.0%
5,2022-11-29,12:00:00,A,Equador,Senegal,INTER. KHALIFA,20.7%,23.3%,56.0%
6,2022-11-21,10:00:00,B,Inglaterra,Irã,INTER. KHALIFA,54.6%,23.6%,21.8%
7,2022-11-21,16:00:00,B,Estados Unidos,País de Gales,AL RAYYAN,43.0%,25.3%,31.7%
8,2022-11-25,07:00:00,B,País de Gales,Irã,AL RAYYAN,40.1%,25.5%,34.4%
9,2022-11-25,16:00:00,B,Inglaterra,Estados Unidos,AL KHOR,46.1%,25.0%,28.9%
10,2022-11-29,16:00:00,B,País de Gales,Inglaterra,AL RAYYAN,24.0%,24.2%,51.8%
11,2022-11-29,16:00:00,B,Irã,Estados Unidos,AL THUMAMA,29.1%,25.0%,45.9%
12,2022-11-22,07:00:00,C,Argentina,Arábia Saudita,CID. EDUCAÇÃO,74.2%,17.3%,8.5%
13,2022-11-22,13:00:00,C,México,Polônia,AL WAKRAH,49.1%,24.6%,26.3%
14,2022-11-26,10:00:00,C,Polônia,Arábia Saudita,CID. EDUCAÇÃO,57.5%,22.9%,19.5%
15,2022-11-26,16:00:00,C,Argentina,México,NAC. DE LUSAIL,47.1%,24.9%,28.0%
16,2022-11-30,16:00:00,C,Polônia,Argentina,PORTO DE DOHA,18.8%,22.7%,58.5%
17,2022-11-30,16:00:00,C,Arábia Saudita,México,NAC. DE LUSAIL,12.5%,19.9%,67.5%
18,2022-11-22,10:00:00,D,Dinamarca,Tunísia,CID. EDUCAÇÃO,56.0%,23.3%,20.7%
19,2022-11-22,16:00:00,D,França,Austrália,AL WAKRAH,66.6%,20.3%,13.1%
20,2022-11-26,07:00:00,D,Tunísia,Austrália,AL WAKRAH,41.4%,25.4%,33.1%
21,2022-11-26,13:00:00,D,França,Dinamarca,PORTO DE DOHA,45.3%,25.1%,29.6%
22,2022-11-30,12:00:00,D,Tunísia,França,CID. EDUCAÇÃO,15.4%,21.4%,63.2%
23,2022-11-30,12:00:00,D,Austrália,Dinamarca,AL WAKRAH,17.8%,22.3%,59.9%
24,2022-11-23,10:00:00,E,Alemanha,Japão,INTER. KHALIFA,48.7%,24.7%,26.6%
25,2022-11-23,13:00:00,E,Espanha,Costa Rica,AL THUMAMA,61.3%,22.0%,16.8%
26,2022-11-27,07:00:00,E,Japão,Costa Rica,AL RAYYAN,45.5%,25.1%,29.4%
27,2022-11-27,16:00:00,E,Espanha,Alemanha,AL KHOR,42.2%,25.4%,32.4%
28,2022-12-01,16:00:00,E,Japão,Espanha,INTER. KHALIFA,22.6%,23.8%,53.6%
29,2022-12-01,16:00:00,E,Costa Rica,Alemanha,AL KHOR,20.1%,23.1%,56.8%
30,2022-11-23,07:00:00,F,Marrocos,Croácia,AL KHOR,29.2%,25.1%,45.7%
31,2022-11-23,16:00:00,F,Bélgica,Canadá,AL RAYYAN,70.8%,18.7%,10.5%
32,2022-11-27,10:00:00,F,Bélgica,Marrocos,AL THUMAMA,60.1%,22.3%,17.6%
33,2022-11-27,13:00:00,F,Croácia,Canadá,INTE. KHALIFA,58.8%,22.6%,18.6%
34,2022-12-01,12:00:00,F,Croácia,Bélgica,AL RAYYAN,23.7%,24.1%,52.2%
35,2022-12-01,12:00:00,F,Canadá,Marrocos,AL THUMAMA,24.9%,24.4%,50.7%
36,2022-11-24,07:00:00,G,Suíça,Camarões,AL WAKRAH,55.8%,23.4%,20.8%
37,2022-11-24,16:00:00,G,Brasil,Sérvia,NAC. LUSAIL,61.9%,21.8%,16.3%
38,2022-11-28,07:00:00,G,Camarões,Sérvia,AL WAKRAH,27.6%,24.8%,47.6%
39,2022-11-28,13:00:00,G,Brasil,Suíça,PORTO DE DOHA,54.2%,23.7%,22.1%
40,2022-12-02,16:00:00,G,Camarões,Brasil,NAC. LUSAIL,11.0%,19.0%,70.0%
41,2022-12-02,16:00:00,G,Sérvia,Suíça,PORTO DE DOHA,29.3%,25.1%,45.7%
42,2022-11-24,10:00:00,H,Uruguai,Coreia do Sul,CID. EDUCAÇÃO,51.1%,24.3%,24.6%
43,2022-11-24,13:00:00,H,Portugal,Gana,PORTO DE DOHA,77.9%,15.6%,6.4%
44,2022-11-28,10:00:00,H,Coreia do Sul,Gana,CID. EDUCAÇÃO,66.9%,20.2%,12.9%
45,2022-11-28,16:00:00,H,Portugal,Uruguai,NAC. LUSAIL,40.7%,25.5%,33.8%
46,2022-12-02,12:00:00,H,Coreia do Sul,Portugal,CID. EDUCAÇÃO,21.8%,23.6%,54.5%
47,2022-12-02,12:00:00,H,Gana,Uruguai,AL WAKRAH,7.4%,16.5%,76.1%

## Tarefa 2: **Simular a Copa do Mundo Inteira!**

In [13]:
def JogosGrupo(dados, grupo): 
    
    times = list(dados.loc[dados['Grupo']==grupo].index)

    time1, time2, time3, time4 = times  # nome dos times 

    pt1, pt2, pt3, pt4 = 0, 0, 0, 0
    gp1, gp2, gp3, gp4 = 0, 0, 0, 0
    sg1, sg2, sg3, sg4 = 0, 0, 0, 0

    jogo1 = Jogo(time1, time2)
    jogo2 = Jogo(time3, time4)

    jogo3 = Jogo(time1, time3)
    jogo4 = Jogo(time2, time4)

    jogo5 = Jogo(time1, time4)
    jogo6 = Jogo(time2, time3)

    gp1, gp2, sg1, sg2, pt1, pt2 = gp1 + jogo1[0], gp2 + jogo1[1], sg1 + jogo1[2], sg2 + jogo1[3], pt1 + jogo1[4], pt2 + jogo1[5]
    gp3, gp4, sg3, sg4, pt3, pt4 = gp3 + jogo2[0], gp4 + jogo2[1], sg3 + jogo2[2], sg4 + jogo2[3], pt3 + jogo2[4], pt4 + jogo2[5]
    gp1, gp3, sg1, sg3, pt1, pt3 = gp1 + jogo3[0], gp3 + jogo3[1], sg1 + jogo3[2], sg3 + jogo3[3], pt1 + jogo3[4], pt3 + jogo3[5]
    gp2, gp4, sg2, sg4, pt2, pt4 = gp2 + jogo4[0], gp4 + jogo4[1], sg2 + jogo4[2], sg4 + jogo4[3], pt2 + jogo4[4], pt4 + jogo4[5]
    gp1, gp4, sg1, sg4, pt1, pt4 = gp1 + jogo5[0], gp4 + jogo5[1], sg1 + jogo5[2], sg4 + jogo5[3], pt1 + jogo5[4], pt4 + jogo5[5]
    gp2, gp3, sg2, sg3, pt2, pt3 = gp2 + jogo6[0], gp3 + jogo6[1], sg2 + jogo6[2], sg3 + jogo6[3], pt2 + jogo6[4], pt3 + jogo6[5]

    partidas = [ time1 + ' x ' + time2, 
                 time3 + ' x ' + time4,
                 time1 + ' x ' + time3, 
                 time2 + ' x ' + time4,
                 time1 + ' x ' + time4,
                 time2 + ' x ' + time3]

    resultados = [ jogo1[6], jogo2[6], jogo3[6], jogo4[6], jogo5[6], jogo6[6] ]
    placares = [ jogo1[-1], jogo2[-1], jogo3[-1], jogo4[-1], jogo5[-1], jogo6[-1] ] 
    cols = ['Pontos', 'Saldo de Gols', 'Gols Pró']
    tab = pd.DataFrame([[pt1, pt2, pt3, pt4], [sg1, sg2, sg3, sg4], [gp1, gp2, gp3, gp4]], index = cols, columns = times).transpose()
    
    tab = tab.sort_values(['Pontos', 'Saldo de Gols', 'Gols Pró'], ascending = False)
    tab['Posição'] = [1, 2, 3, 4]

    jogos = pd.DataFrame([partidas, placares, resultados]).transpose()
    jogos.columns = ['Partida', 'Placar', 'Resultado']

    return [tab, jogos]

In [14]:
exemplo = JogosGrupo(selecoes, 'G')
exemplo

[          Pontos  Saldo de Gols  Gols Pró  Posição
 Brasil         9              7         7        1
 Camarões       4              0         2        2
 Suíça          4             -2         1        3
 Sérvia         0             -5         1        4,
              Partida Placar Resultado
 0    Brasil x Sérvia    3x0         V
 1   Suíça x Camarões    0x0         E
 2     Brasil x Suíça    3x0         V
 3  Sérvia x Camarões    1x2         D
 4  Brasil x Camarões    1x0         V
 5     Sérvia x Suíça    0x1         D]

In [15]:
exemplo[0]

          Pontos  Saldo de Gols  Gols Pró  Posição
Brasil         9              7         7        1
Camarões       4              0         2        2
Suíça          4             -2         1        3
Sérvia         0             -5         1        4

In [16]:
exemplo[1]

             Partida Placar Resultado
0    Brasil x Sérvia    3x0         V
1   Suíça x Camarões    0x0         E
2     Brasil x Suíça    3x0         V
3  Sérvia x Camarões    1x2         D
4  Brasil x Camarões    1x0         V
5     Sérvia x Suíça    0x1         D

In [17]:
def SimulaCopa(dados):
    cols = ['1st', '2nd', '3rd', '4th', 'Oitavas', 'Quartas', 'Semis', 'Final', 'Campeão']
    n = dados.shape[0]
    m = len(cols)
    aux = np.array(np.zeros(n*m).reshape(n, m))
    info = pd.DataFrame(aux, columns = cols, index = dados.index) 
    info = info.astype(int)

    top16 = []  
    for i in list('ABCDEFGH'):
        a = JogosGrupo(dados, i)[0] 
        top16 += a.index[:2].tolist()
        anomes = a.index.to_list() 
        info.at[anomes[0], '1st'] = 1
        info.at[anomes[1], '2nd'] = 1
        info.at[anomes[2], '3rd'] = 1
        info.at[anomes[3], '4th'] = 1

    qf1 = JogoMataMata(top16[0], top16[3])   #A1 x B2
    qf2 = JogoMataMata(top16[2], top16[1])   #B1 x A2
    qf3 = JogoMataMata(top16[4], top16[7])   #C1 x D2 
    qf4 = JogoMataMata(top16[6], top16[5])   #D1 x C2
    qf5 = JogoMataMata(top16[8], top16[11])  #E1 x F2
    qf6 = JogoMataMata(top16[10], top16[9])  #F1 x E2
    qf7 = JogoMataMata(top16[12], top16[15]) #G1 x H2
    qf8 = JogoMataMata(top16[14], top16[13]) #H1 x G2

    top8 = [qf1, qf2, qf3, qf4, qf5, qf6, qf7, qf8]


    sf1 = JogoMataMata(qf1, qf3)
    sf2 = JogoMataMata(qf2, qf4) 
    sf3 = JogoMataMata(qf5, qf7) 
    sf4 = JogoMataMata(qf6, qf8) 

    top4 = [sf1, sf2, sf3, sf4]

    f1 = JogoMataMata(sf1, sf3) 
    f2 = JogoMataMata(sf2, sf4) 
    top2 = [f1, f2]

    top1 = JogoMataMata(f1, f2)

    info.loc[top16, 'Oitavas'] = 1
    info.loc[top8, 'Quartas'] = 1
    info.loc[top4, 'Semis'] = 1
    info.loc[top2, 'Final'] = 1
    info.loc[top1, 'Campeão'] = 1

    return info

In [18]:
SimulaCopa(selecoes)

                1st  2nd  3rd  4th  Oitavas  Quartas  Semis  Final  Campeão
Seleção
Catar             0    0    0    1        0        0      0      0        0
Equador           0    0    1    0        0        0      0      0        0
Senegal           1    0    0    0        1        0      0      0        0
Holanda           0    1    0    0        1        0      0      0        0
Inglaterra        1    0    0    0        1        1      0      0        0
Irã               0    1    0    0        1        1      0      0        0
Estados Unidos    0    0    0    1        0        0      0      0        0
País de Gales     0    0    1    0        0        0      0      0        0
Argentina         0    0    1    0        0        0      0      0        0
Arábia Saudita    0    0    0    1        0        0      0      0        0
México            0    1    0    0        1        1      1      0        0
Polônia           1    0    0    0        1        0      0      0        0
França            1    0    0    0        1        0      0      0        0
Dinamarca         0    1    0    0        1        1      1      0        0
Tunísia           0    0    1    0        0        0      0      0        0
Austrália         0    0    0    1        0        0      0      0        0
Espanha           0    0    1    0        0        0      0      0        0
Alemanha          0    1    0    0        1        1      0      0        0
Japão             1    0    0    0        1        1      0      0        0
Costa Rica        0    0    0    1        0        0      0      0        0
Bélgica           1    0    0    0        1        0      0      0        0
Canadá            0    0    0    1        0        0      0      0        0
Marrocos          0    0    1    0        0        0      0      0        0
Croácia           0    1    0    0        1        0      0      0        0
Brasil            0    1    0    0        1        1      1      1        0
Sérvia            0    0    1    0        0        0      0      0        0
Suíça             1    0    0    0        1        0      0      0        0
Camarões          0    0    0    1        0        0      0      0        0
Portugal          0    0    0    1        0        0      0      0        0
Gana              1    0    0    0        1        0      0      0        0
Uruguai           0    0    1    0        0        0      0      0        0
Coreia do Sul     0    1    0    0        1        1      1      1        1

In [19]:
SimulaCopa(selecoes).sum()

1st         8
2nd         8
3rd         8
4th         8
Oitavas    16
Quartas     8
Semis       4
Final       2
Campeão     1
dtype: int64

In [20]:
def SimulacaoTotal(dados, S = 1000): 
    print('IA: "Iniciando simulação..."')
    info = SimulaCopa(dados)
    for i in range(S-1):
        info += SimulaCopa(dados)
        if (i+2)%(S/10) == 0:
            print('IA: "Simulações de Copas do Mundo: {:.0f}% completas'.format(100*((i+2)/S)))    
    print('IA: "Simulação Finalizada!"')
    return info.sort_values(by = 'Campeão', ascending = False)/S

In [21]:
S = 10000
sim = SimulacaoTotal(selecoes, S) 
sim.to_excel('dados/outputSimulaçõesCopaDoMundo.xlsx')
sim

IA: "Iniciando simulação..."
IA: "Simulações de Copas do Mundo: 10% completas
IA: "Simulações de Copas do Mundo: 20% completas
IA: "Simulações de Copas do Mundo: 30% completas
IA: "Simulações de Copas do Mundo: 40% completas
IA: "Simulações de Copas do Mundo: 50% completas
IA: "Simulações de Copas do Mundo: 60% completas
IA: "Simulações de Copas do Mundo: 70% completas
IA: "Simulações de Copas do Mundo: 80% completas
IA: "Simulações de Copas do Mundo: 90% completas
IA: "Simulações de Copas do Mundo: 100% completas
IA: "Simulação Finalizada!"

,1st,2nd,3rd,4th,Oitavas,Quartas,Semis,Final,Campeão
Seleção,,,,,,,,,
Brasil,0.5916,0.2521,0.1145,0.0418,0.8437,0.5623,0.3469,0.2133,0.1291
Bélgica,0.5805,0.2540,0.1213,0.0442,0.8345,0.5412,0.3400,0.2056,0.1238
Argentina,0.5239,0.2975,0.1367,0.0419,0.8214,0.4943,0.3044,0.1727,0.0986
França,0.5265,0.2934,0.1298,0.0503,0.8199,0.4882,0.2970,0.1623,0.0890
Inglaterra,0.4443,0.2705,0.1754,0.1098,0.7148,0.4670,0.2543,0.1425,0.0753
Espanha,0.4392,0.2904,0.1796,0.0908,0.7296,0.4000,0.2179,0.1124,0.0573
Holanda,0.5332,0.2947,0.1261,0.0460,0.8279,0.4479,0.2270,0.1118,0.0521
Portugal,0.4615,0.3195,0.1820,0.0370,0.7810,0.3988,0.2021,0.1027,0.0514
Dinamarca,0.3263,0.3608,0.2119,0.1010,0.6871,0.3533,0.1886,0.0946,0.0423
México,0.3077,0.3627,0.2363,0.0933,0.6704,0.3330,0.1718,0.0771,0.0357
Uruguai,0.3676,0.3507,0.2279,0.0538,0.7183,0.3460,0.1602,0.0763,0.0351
Alemanha,0.3342,0.3099,0.2234,0.1325,0.6441,0.3258,0.1615,0.0739,0.0328
Croácia,0.2317,0.3502,0.2717,0.1464,0.5819,0.2866,0.1368,0.0640,0.0283
Estados Unidos,0.2546,0.2804,0.2545,0.2105,0.5350,0.2966,0.1407,0.0661,0.0270
Suíça,0.2233,0.3387,0.2724,0.1656,0.5620,0.2851,0.1255,0.0580,0.0266
Senegal,0.3181,0.3615,0.2133,0.1071,0.6796,0.3024,0.1224,0.0535,0.0219
País de Gales,0.1643,0.2390,0.2815,0.3152,0.4033,0.2010,0.0822,0.0308,0.0127
Marrocos,0.1387,0.2660,0.3360,0.2593,0.4047,0.1700,0.0703,0.0287,0.0102
Japão,0.1484,0.2353,0.3190,0.2973,0.3837,0.1487,0.0599,0.0215,0.0083
Sérvia,0.1291,0.2644,0.3335,0.2730,0.3935,0.1675,0.0641,0.0232,0.0079
Irã,0.1368,0.2101,0.2886,0.3645,0.3469,0.1584,0.0581,0.0224,0.0076
Polônia,0.1407,0.2524,0.3921,0.2148,0.3931,0.1542,0.0619,0.0234,0.0076
Coreia do Sul,0.1582,0.2824,0.4175,0.1419,0.4406,0.1652,0.0557,0.0216,0.0061
Tunísia,0.0858,0.1926,0.3485,0.3731,0.2784,0.0854,0.0307,0.0103,0.0038
Costa Rica,0.0782,0.1644,0.2780,0.4794,0.2426,0.0759,0.0231,0.0070,0.0025
Austrália,0.0614,0.1532,0.3098,0.4756,0.2146,0.0659,0.0233,0.0063,0.0018
Equador,0.0882,0.1926,0.3533,0.3659,0.2808,0.0759,0.0183,0.0045,0.0017
Camarões,0.0560,0.1448,0.2796,0.5196,0.2008,0.0648,0.0199,0.0059,0.0016
Canadá,0.0491,0.1298,0.2710,0.5501,0.1789,0.0518,0.0150,0.0035,0.0010
Catar,0.0605,0.1512,0.3073,0.4810,0.2117,0.0508,0.0113,0.0018,0.0007
Arábia Saudita,0.0277,0.0874,0.2349,0.6500,0.1151,0.0257,0.0080,0.0020,0.0002
Gana,0.0127,0.0474,0.1726,0.7673,0.0601,0.0103,0.0011,0.0003,0.0000

## Extraindo mais informações das simulações

In [22]:
etapas = pd.DataFrame()
etapas['Cair na 1ª Fase'] = 1 - sim['Oitavas']
etapas['Cair nas Oitavas'] = sim['Oitavas'] - sim['Quartas']
etapas['Cair nas Quartas'] = sim['Quartas'] - sim['Semis']
etapas['Cair nas Semis'] = sim['Semis'] - sim['Final']
etapas['Cair na Final'] = sim['Final']  -  sim['Campeão'] 
etapas['Ganhar a Final'] = sim['Campeão']  
etapas.to_excel('dados/outputProbabilidadesPorEtapa.xlsx')
etapas

,Cair na 1ª Fase,Cair nas Oitavas,Cair nas Quartas,Cair nas Semis,Cair na Final,Ganhar a Final
Seleção,,,,,,
Brasil,0.1563,0.2814,0.2154,0.1336,0.0842,0.1291
Bélgica,0.1655,0.2933,0.2012,0.1344,0.0818,0.1238
Argentina,0.1786,0.3271,0.1899,0.1317,0.0741,0.0986
França,0.1801,0.3317,0.1912,0.1347,0.0733,0.0890
Inglaterra,0.2852,0.2478,0.2127,0.1118,0.0672,0.0753
Espanha,0.2704,0.3296,0.1821,0.1055,0.0551,0.0573
Holanda,0.1721,0.3800,0.2209,0.1152,0.0597,0.0521
Portugal,0.2190,0.3822,0.1967,0.0994,0.0513,0.0514
Dinamarca,0.3129,0.3338,0.1647,0.0940,0.0523,0.0423
México,0.3296,0.3374,0.1612,0.0947,0.0414,0.0357
Uruguai,0.2817,0.3723,0.1858,0.0839,0.0412,0.0351
Alemanha,0.3559,0.3183,0.1643,0.0876,0.0411,0.0328
Croácia,0.4181,0.2953,0.1498,0.0728,0.0357,0.0283
Estados Unidos,0.4650,0.2384,0.1559,0.0746,0.0391,0.0270
Suíça,0.4380,0.2769,0.1596,0.0675,0.0314,0.0266
Senegal,0.3204,0.3772,0.1800,0.0689,0.0316,0.0219
País de Gales,0.5967,0.2023,0.1188,0.0514,0.0181,0.0127
Marrocos,0.5953,0.2347,0.0997,0.0416,0.0185,0.0102
Japão,0.6163,0.2350,0.0888,0.0384,0.0132,0.0083
Sérvia,0.6065,0.2260,0.1034,0.0409,0.0153,0.0079
Irã,0.6531,0.1885,0.1003,0.0357,0.0148,0.0076
Polônia,0.6069,0.2389,0.0923,0.0385,0.0158,0.0076
Coreia do Sul,0.5594,0.2754,0.1095,0.0341,0.0155,0.0061
Tunísia,0.7216,0.1930,0.0547,0.0204,0.0065,0.0038
Costa Rica,0.7574,0.1667,0.0528,0.0161,0.0045,0.0025
Austrália,0.7854,0.1487,0.0426,0.0170,0.0045,0.0018
Equador,0.7192,0.2049,0.0576,0.0138,0.0028,0.0017
Camarões,0.7992,0.1360,0.0449,0.0140,0.0043,0.0016
Canadá,0.8211,0.1271,0.0368,0.0115,0.0025,0.0010
Catar,0.7883,0.1609,0.0395,0.0095,0.0011,0.0007
Arábia Saudita,0.8849,0.0894,0.0177,0.0060,0.0018,0.0002
Gana,0.9399,0.0498,0.0092,0.0008,0.0003,0.0000

In [23]:
avanco = pd.DataFrame()
avanco['Avançar na 1ª Fase'] = sim['Oitavas']
avanco['Avançar nas Oitavas'] = sim['Quartas']/sim['Oitavas'] 
avanco['Avançar nas Quartas'] = sim['Semis']/sim['Quartas'] 
avanco['Avançar nas Semis'] = sim['Final']/sim['Semis'] 
avanco['Avançar na Final'] = sim['Campeão']/sim['Final']   
avanco.to_excel('dados/outputAvançoPorEtapa.xlsx')
avanco

,Avançar na 1ª Fase,Avançar nas Oitavas,Avançar nas Quartas,Avançar nas Semis,Avançar na Final
Seleção,,,,,
Brasil,0.8437,0.666469,0.616930,0.614875,0.605251
Bélgica,0.8345,0.648532,0.628234,0.604706,0.602140
Argentina,0.8214,0.601777,0.615820,0.567346,0.570932
França,0.8199,0.595438,0.608357,0.546465,0.548367
Inglaterra,0.7148,0.653330,0.544540,0.560362,0.528421
Espanha,0.7296,0.548246,0.544750,0.515833,0.509786
Holanda,0.8279,0.541007,0.506810,0.492511,0.466011
Portugal,0.7810,0.510627,0.506770,0.508164,0.500487
Dinamarca,0.6871,0.514190,0.533824,0.501591,0.447146
México,0.6704,0.496718,0.515916,0.448778,0.463035
Uruguai,0.7183,0.481693,0.463006,0.476280,0.460026
Alemanha,0.6441,0.505822,0.495703,0.457585,0.443843
Croácia,0.5819,0.492524,0.477320,0.467836,0.442187
Estados Unidos,0.5350,0.554393,0.474376,0.469794,0.408472
Suíça,0.5620,0.507295,0.440196,0.462151,0.458621
Senegal,0.6796,0.444968,0.404762,0.437092,0.409346
País de Gales,0.4033,0.498388,0.408955,0.374696,0.412338
Marrocos,0.4047,0.420064,0.413529,0.408250,0.355401
Japão,0.3837,0.387542,0.402824,0.358932,0.386047
Sérvia,0.3935,0.425667,0.382687,0.361934,0.340517
Irã,0.3469,0.456616,0.366793,0.385542,0.339286
Polônia,0.3931,0.392267,0.401427,0.378029,0.324786
Coreia do Sul,0.4406,0.374943,0.337167,0.387792,0.282407
Tunísia,0.2784,0.306753,0.359485,0.335505,0.368932
Costa Rica,0.2426,0.312861,0.304348,0.303030,0.357143
Austrália,0.2146,0.307083,0.353566,0.270386,0.285714
Equador,0.2808,0.270299,0.241107,0.245902,0.377778
Camarões,0.2008,0.322709,0.307099,0.296482,0.271186
Canadá,0.1789,0.289547,0.289575,0.233333,0.285714
Catar,0.2117,0.239962,0.222441,0.159292,0.388889
Arábia Saudita,0.1151,0.223284,0.311284,0.250000,0.100000
Gana,0.0601,0.171381,0.106796,0.272727,0.000000